[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
chromedriver-binary-auto = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.8"
